{% extends 'base.html' %}
{% block title %}Welcome to Musophile!{% endblock %}
{% block content %}
<div class="home-page">
    <div class="home-page-info">
        <h1 class="main-title">Welcome to Musophile!</h1>
        <h4>Where music heads join heads...</h4>
        
        <div class="call-to-action">
            <a href="/register" class="btn btn-lg">Click here to sign up!</a>
        </div>
        <a href="/login" class="btn btn-sm">Login</a>
    </div>
</div>

{% endblock %}

https://accounts.spotify.com/authorize/?client_id=8e4449a65fb344aeb490c427582da2e7&response_type=code&redirect_uri=http://localhost:5000/callback&scope=streaming