{% extends 'base.html' %}
{% block title %}Welcome to Musophile!{% endblock %}
{% block content %}
<div class="home-page">
    <div class="home-page-info">
        <h1 class="main-title">Welcome to Musophile!</h1>
        <h4>Where music heads join heads!</h4>
        {% if g.user %}
        <div class="call-to-action">
            <a href="/search" class="btn btn-lg">Search for music!</a>
        {% else %}
        <div class="call-to-action">
            <a href="/register" class="btn btn-lg">Click here to sign up!</a>
        </div>
        <a href="/login" class="btn btn-sm">Login</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
