{% extends 'base.html' %}
{% block title %}Search for music{% endblock %}
{% block content %}
<h1>Search</h1>

{% if 'access_token' in session %}
<span id="hasToken" class="token-indicator has-token">You're connected! You may search and hear tracks!</span>
{% else %}
<a href="/auth" id="hasToken" class="token-indicator">You must connect to Spotify. Click here to do so!</a>
{% endif %}
<div id="searchWrapper">
    <div class="search-type">
        <label for="searchType" class="form-label">I am searching by...</label>
        <select name="attributes" id="searchType" class="form-select">
            <option value="artist">Artist</option>
            <option value="recording" selected>Recording</option>
            <option value="release">Release</option>
            <option value="tag">Tag</option>
        </select>
    </div>
    <div class="search-word">
        <label for="searchBar" class="form-label">Type keywords here:</label>
        <input type="search" class="form-control" name="q" id="searchBar">
    </div>
    <div class="limit">
        <label for="limit" class="form-label">How many results?</label>
        <input type="number" class="form-control" id="limit" min="1", max="100", value="25">
    </div>
</div>

<button class="btn btn-outline-primary" id="searchBtn" disabled>Search!</button>
<hr>
<div id="searchResults">

</div>
{% endblock %}
{% block script %}
<script src="static/search.js"></script>
{% endblock %}