{% extends 'base.html' %}
{% block title %}Search for music{% endblock %}
{% block content %}
<h1>Search</h1>

<p>To get the most out of this app, <a href="/auth">allow Spotify access to Musophile</a></p>
<p id="accessToken">{{token[0]}}</p>

<div id="searchWrapper">
    <label for="searchType">I am searching by...</label>
    <select name="attributes" id="searchType">
        <option value="artist">Artist</option>
        <option value="recording" selected>Recording</option>
        <option value="release">Release</option>
        <option value="tag">Tag</option>
    </select>
</div>
<div class="display-search">
    <label for="searchBar">Type keywords here:</label>
    <input type="search" name="q" id="searchBar">
</div>
<div>
    <label for="limit">How many results?</label>
    <input type="number", id="limit" min="1", max="100", value="25">
</div>

<button id="searchBtn">Search!</button>

<div id="searchResults">

</div>
{% endblock %}
{% block script %}
<script src="static/search.js"></script>
{% endblock %}