{% extends 'base.html' %}
{% block title %}{{tag.name}}{% endblock %}
{% block content %}
<h1>{{tag.name}}</h1>

<div class="tag-songs-all">
    {% for recording in tag.recordings %}
    <div class="tag-song">
        <h4>{{recording.title}}</h4>
        <ul>
            <li>performed by <b>{{recording.artist}}</b></li>
        </ul>
        {% if recording.spotify_uri %}
        <iframe src="https://open.spotify.com/embed/track/{{recording.spotify_uri}}" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}